<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-phonegap-bossbolo-plugin"
    version="1.0.1">
    <name>BoloPlugin</name>
    <description>布络PhoneGap插件</description>
    <license>Apache 2.0</license>
    <keywords>cordova,phoengap,bossbolo</keywords>

    <engines>
            <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- JS插件部分 -->
    <js-module src="www/BoloPlugin.js" name="BoloPlugin">
        <clobbers target="window.BoloPlugin" />
    </js-module>
    
    <!-- 设置依赖插件,或者绑定其他插件  id:plugin id -->
    <!-- <dependency id="" /> -->

    <!-- Android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BoloPlugin">
                <param name="android-package" value="com.phonegap.bossbolo.plugin.BoloPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <source-file src="src/android/BoloPlugin.java" target-dir="src/com/phonegap/bossbolo/plugin" />
        <source-file src="src/android/CustomGlobal.java" target-dir="src/com/phonegap/bossbolo/plugin" />
        
        <!-- 导入友盟更新插件 -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="UMENG_APPKEY" android:value="56398c92e0f55ab9130007a7" />
            <meta-data android:name="UMENG_CHANNEL" android:value="Channel ID" />
            <service android:name="com.umeng.update.net.DownloadingService"
                    android:process=":DownloadingService">
                </service>
                <activity android:name="com.umeng.update.UpdateDialogActivity"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar">
                </activity>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <source-file src="src/android/libs/umeng-update.jar" target-dir="libs" />
        <source-file src="src/android/libs/armeabi/libbspatch.so" target-dir="libs/armeabi" />
        <source-file src="src/android/res/drawable/tb_munion_icon.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/tb_munion_item_selector.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_common_gradient_green.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_common_gradient_orange.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_common_gradient_red.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_focused.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_normal.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_selector.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_tap.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_check_selector.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_close_bg_selector.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_focused.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_normal.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_selector.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_tap.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_dialog_bg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_title_bg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/umeng_update_wifi_disable.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_off_focused_holo_light.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_off_holo_light.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_off_pressed_holo_light.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_on_focused_holo_light.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_on_holo_light.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_on_pressed_holo_light.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_close_bg_normal.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/umeng_update_close_bg_tap.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/layout/tb_munion_aditem.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/umeng_common_download_notification.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/umeng_update_dialog.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout-v9/umeng_common_download_notification.xml" target-dir="res/layout-v9" />
        <source-file src="src/android/res/values/tb_munion_strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/umeng_common_strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/umeng_update_string.xml" target-dir="res/values" />
        <source-file src="src/android/res/values-zh/umeng_common_strings.xml" target-dir="res/values-zh" />
        <source-file src="src/android/res/values-zh/umeng_update_string.xml" target-dir="res/values-zh" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="BoloPlugin">
                <param name="ios-package" value="BoloPlugin" />
                <param name="onload" value="true" />
            </feature>
            
        </config-file>
        
        <header-file src="src/ios/BoloPlugin.h" />
        <source-file src="src/ios/BoloPlugin.m" />
        <header-file src="src/ios/BoloCustomGlobal.h" />
        <source-file src="src/ios/BoloCustomGlobal.m" />
        
        
    </platform>
    
</plugin>
